body {
  background-color: darkred;
}

h1 {
  color: black;
  text-align: center;
}

img {
  margin: 50px;
  border-radius: 8px;
}

img.main2 {
  float: right;
}

.sidebar {
  float: right;
  border-radius: 8px;
  color: white;
  background-color: black;
  padding: 8px;
}

.members {
  padding-right: 25rem;
  font-weight: bold;
}

.discography {
  padding-right: 25rem;
  font-weight: bold;
}
